/*General Styles*/
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: "Cal Sans", sans-serif;
  background-color: #041562;
}

/*Select Pet Screen*/

#select-pet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mokepon_title {
  color: white;
  font-size: 32px;
  margin: 20px;
}

.mokepon_subtitle {
  margin: 20px;
  color: white;
  font-size: 20px;
}

.cards-container {
  display: flex;
  gap: 10px;
}

.mokepon-card {
  width: 180px;
  height: 100px;
  background: #11468f;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.mokepon-card img {
  width: 80px;
}

#select-button {
  color: white;
  background: transparent;
  font-family: "Quicksand", sans-serif;
  width: 180px;
  height: 40px;
  padding: 5px;
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 10px;
}

/*Combat Screen*/
#select-attack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attack-button {
  background-color: #11468f;
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: "Quicksand", sans-serif;
}